{% extends "base.html" %}

{% block content_title %}{% endblock %}
{% block content %}        
 
 <link rel="stylesheet" href="{{ SITEURL }}/theme/css/blog.css" type="text/css" />

{% if articles %}
    {% for article in articles_page.object_list %}        

        {# First item #}
        {% if loop.first and not articles_page.has_previous() %}
            <aside id="body" class="body">
                <article class="article">
                    <h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1> 
                    {% include 'article_infos.html' %}{{ article.content }}{% include 'comments.html' %}
                </article>
                <section id="extras" class="sidebar"> 
                    {% if BLOG_LINKS %}
                        <h2 class='sidebar_header'>Blogs I love!</h2>
                        <hr class='line1'/>
                        <ul>
                        {% for name, link in BLOG_LINKS %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                        </ul>
                        <br></br>
                        <div>
                        <a href="/feeds/all.atom.xml" class="rss"><img src="/images/bg_feed.gif">Atom Feed</a>
                        </div>
                </section>
                {% endif %}
                {% if loop.length == 1 %}
                    {% include 'pagination.html' %}
                {% endif %}

            </aside><!-- /#featured -->

            {% if loop.length > 1 %}
                <section id="content" class="body">
                    <h1 class='other_article'>Other articles</h1>
                    <hr class="line1"/>
                    <ol id="posts-list" class="hfeed">
            {% endif %}
        {# other items #}
        {% else %} 
            {% if loop.first and articles_page.has_previous %}
                <section id="content" class="body">
                    <ol id="posts-list" class="hfeed" start="{{ articles_paginator.per_page -1 }}">
            {% endif %}
            <li><article class="hentry">    
                <header>
                        <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags}}">{{ article.title }}</a></h1>
                </header>
                
                <div class="entry-content">
                {% include 'article_infos.html' %}
                {{ article.summary }}
                <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">read more</a>
                {% include 'comments.html' %}
                </div><!-- /.entry-content -->
            </article></li>
        {% endif %}
        {% if loop.last and (articles_page.has_previous() 
           or not articles_page.has_previous() and loop.length > 1) %}
            {% include 'pagination.html' %}
        {% endif %}
        {% if loop.last %}
            </ol><!-- /#posts-list -->
            </section><!-- /#content -->
        {% endif %}
    {% endfor %}
{% else %}
<section id="content" class="body">    
<h2>Pages</h2>
    {% for page in PAGES %}
        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
</section>
{% endif %}
{% endblock content %}

{% block title %}{{ SITENAME }} - {{ category }}{% endblock %}
